<html>
  <head>
    <title>Programa de Qualificacao de Restaurantes</title>
		<%= javascript_include_tag :all %>
  </head>
  <body>
		<%= menu_principal %>
		<p style="color: green"><%= flash[:notice] %></p>
		<%= yield %>
	</body>

</html>
